@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Racing+Sans+One&display=swap');

.custom-navbar {
    background-color: #0d1b1e;
    padding-top: 1rem;
    padding-bottom: 1rem;
}